name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Shell Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: ./docs
          severity: warning

      - name: shfmt
        run: |
          curl -sS https://webi.sh/shfmt | sh
          ~/.local/bin/shfmt -i 4 -ci -d ./docs/*.sh
